<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender para console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log global: INFO ou DEBUG durante desenvolvimento -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Reduz verbosidade de ByteBuddy, Mockito e outros frameworks -->
    <logger name="net.bytebuddy" level="WARN" />
    <logger name="org.mockito" level="WARN" />
    <logger name="org.mockito.internal.creation.bytebuddy" level="WARN" />
    <logger name="org.mockito.plugins" level="WARN" />
    <logger name="org.mockito.internal.configuration.plugins" level="WARN" />
    <logger name="org.mockito.internal.util" level="WARN" />
    <logger name="org.springframework.test.context" level="WARN" />
    <logger name="org.springframework.boot.test" level="WARN" />
    <logger name="org.springframework.vault" level="ERROR" />
    <logger name="org.springframework.cloud.vault" level="ERROR" />
    <logger name="org.springframework.cloud.gateway.route.CachingRouteLocator" level="WARN" />
    <logger name="org.springframework.cloud.gateway" level="INFO" />

    <!-- Log customizado do projeto -->
    <logger name="com.pagamento" level="DEBUG" />

</configuration>
